### Package

The three year goals of the Package group (high-level [roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?scope=all&utf8=✓&state=opened&label_name[]=devops%3A%3Apackage); [SMAU (Stage Monthly Active Users) dashboard](https://app.periscopedata.com/app/gitlab/527857/Package-GitLab.com-Stage-Activity-Dashboard---DAU-(7-day-rolling-average)) are:

1. Build a product, that within three years, is your single source of truth for storing and distributing images and packages.
1. Unify the Container Registry and the Package Registry to create a seamless user experience for building, testing and releasing code. We will achieve this by expanding the Dependency Proxy to allow you to [create remote and virtual registries](https://gitlab.com/groups/gitlab-org/-/epics/2614). This will allow you to easily publish and install packages and images using a single, logical URL and reduce friction when consuming external packages. 
1. [Build integration points and documentation](/handbook/product/product-processes/#community-considerations) to enable our customers and the GitLab Community to more easily contribute. This is the only and best way to achieve adding support for all of the most common [package manager formats](https://gitlab.com/groups/gitlab-org/-/epics/1245) in a timely manner.
1. Improve the performance and reliability of builds by reducing reliance on external dependencies.

The details of how we'll achieve different elements of this can be found in the individual category pages below:

<%= partial("direction/categories-content", :locals => { :stageKey => "package" }) %>

## Pricing
Our goal is to ensure that any organization can rely solely on GitLab as a universal package manager. Our pricing strategy and product strategy are closely correlated to the size of a given organization. That is because as team size increases, so does the complexity in managing how packages are shared, consumed, and distributed. 

### Core/Free
We will continue to invest in our Package and Container registries to ensure that anyone can use their GitLab project as their default registry, leverage GitLab's many authentication options and easily publish/share packages. We will focus our efforts on a few key areas. 

We must make the use of our Core offering frictionless. To do this we'll focus on usability, reliability, and seamless integrations with GitLab continuous integration and delivery. We will ensure that our product is easy and rewarding to contribute to. We will continue to rely on the GitLab Community to help define and refine our product offering. This includes adding support for new package manager formats. 

Roadmap features targeted for tier:

- [Package Registry user interface improvements](https://gitlab.com/groups/gitlab-org/-/epics/3693)
- [RubyGems Registry](https://gitlab.com/groups/gitlab-org/-/epics/3200)
- [Debian Registry](https://gitlab.com/gitlab-org/gitlab/-/issues/5835)
- [RPM Registry](https://gitlab.com/gitlab-org/gitlab/-/issues/5932)

### Starter/Bronze
This tier will be a minor investment in the pricing strategy. Features in this tier appeal to managers of small teams and we are strategically focusing on by positioning capabilities into this tier that help with team management and collaboration. Cross-project release managers and distributed teams will typically be in the tier above and will benefit from project-level capabilities we will introduce. Roadmap features targeted for tier:

- [Granular permissions for Container Registry](https://gitlab.com/gitlab-org/gitlab/-/issues/878)
- [Identify images and packages as protected to prevent accidental deletion/updates](https://gitlab.com/gitlab-org/gitlab/-/issues/18984)

### Premium/Silver
The default paid tier for enterprises, Premium will cater to directors operating a medium to large instance. We'll direct features that solve for typical entry-level enterprise needs: reporting and analytics, operational efficiency, deployment automation, security and compliance, and other needs that are must-haves for medium to large organizations. While this type of organization should be able to get started in GitLab at lower tiers, they won't be able to thrive at scale. Roadmap features targeted for tier:

- [Remote and virtual registries](https://gitlab.com/groups/gitlab-org/-/epics/2614)
- [Use the Dependency Proxy with private GitLab projects](https://gitlab.com/gitlab-org/gitlab/-/issues/11582)


### Ultimate/Gold
Directed toward an executive likely buyer, we will focus our efforts here on serving the needs of our larger, enterprise customers. This means introducing features that help to drive compliance and shift security left into development pipelines. Roadmap features targeted for tier:

- [Flag npm packages in which the author email or name have recently changed](https://gitlab.com/gitlab-org/gitlab/-/issues/215393)
- [Approved/banned list for the GitLab Registry](https://gitlab.com/gitlab-org/gitlab/-/issues/13761)
- [Support npm audit](https://gitlab.com/gitlab-org/gitlab/-/issues/13754)


