### Release

The three year target for Release (high level [roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?scope=all&utf8=✓&state=opened&label_name[]=devops%3A%3Arelease); [SMAU (Stage Monthly Active Users) dashboard](https://app.periscopedata.com/app/gitlab/661492/WIP-Ops:-Release:-Release-Management)) is:

- Deliver on the promise of [Progressive Delivery](/direction/ops/#progressive-delivery) by offering a market-leading solution.
- Point GitLab to your code and your environment (whether that's Kubernetes, Azure, Google Cloud Platform, AWS, mobile marketplaces, or other app stores) and we'll automatically connect the dots to handle your deployments.
- Seamlessly navigate cross-repository, multi-cloud, complex releases in ways natural to both mature organizations and new users, wherever they are at in their DevOps Journey.
- Automatically capture all the necessary information about changes to production for an audit or compliance event as a byproduct of using Releases.
- Support teams that are transitioning from centralized Release Management roles into shared ownership of that responsibility. Some of the beacons we are committed to that will help here are: 
    - Automatically stop and/or roll back deployments based upon predefined monitoring error thresholds. 
    - Extend advanced deployments with greater customization and control of the deployment.
    - Use a comprehensive, contextual dashboard to manage Feature Flags in your code, giving higher levels of visibility into what features are enabled where, connecting this all the way down to the issue and merge request that introduced the change. 

The details of how we'll achieve different elements of this can be found in the individual category pages below:

<%= partial("direction/categories-content", :locals => { :stageKey => "release" }) %>

## Pricing
To support our goals in 2020 and our 3-year strategy, Release will continue enriching the free features while adding tier value. In our [adoption journey](https://about.gitlab.com/direction/ops/#user-adoption-journey), the Release features are typically consumed after continuous integration and source code management, so we will work to expand the independent use of continuous delivery features. While investing in the reduction of barrier to entry into Release we will spend time meeting the needs of the Enterprise by adding visibility into the benefits of using GitLab end-to-end. 

### Core/Free
Release will continue investing in the free solution to reduce the barrier of entry into Release as both as part of additional Gitlab adoption from existing CI users and as an independent solution without needing to use CI or SCM. We will focus on simplifying the process of managing releases and deploying progressively while empowering developers to release independently using GitLab. Roadmap features targeted for this tier include:

- [Release Generation from .gitlab-ci.yml](https://gitlab.com/groups/gitlab-org/-/epics/2510)

### Starter/Bronze
This tier will be a minor investment in our pricing strategy. Features in this tier appeal to managers of small teams. We strategically focus on adding capabilities into this tier which help with team management and collaboration. Experiences for cross-project release managers and distributed teams will typically be in higher tiers which benefit from project-level capabilities we will introduce. Roadmap features targeted for this tier include:

- [Webhooks/Services events for releases in integrations](https://gitlab.com/gitlab-org/gitlab/-/issues/26873)
-  Contextual feature flags for [epics](https://gitlab.com/gitlab-org/gitlab/-/issues/33578), [issues](https://gitlab.com/gitlab-org/gitlab/-/issues/26456), [release tags](https://gitlab.com/gitlab-org/gitlab/-/issues/197924), and [merge requests](https://gitlab.com/gitlab-org/gitlab/-/issues/33615)

### Premium/Silver
As the default paid tier for enterprises, Premium will cater to directors operating a medium to large instance. We'll direct features that solve for typical entry-level enterprise needs: reporting and analytics, operational efficiency, deployment automation, security and compliance, and other needs that are must-haves for medium to large organizations. While this type of organization should be able to get started in GitLab at lower tiers, they won't be able to thrive at scale. Roadmap features targeted for this tier include:

- [Advanced Deploy Freezes](https://gitlab.com/groups/gitlab-org/-/epics/2884)
- [Versioned Dependencies in GitLab](https://gitlab.com/gitlab-org/gitlab/-/issues/215390)


### Ultimate/Gold
This tier is directed toward an executive likely buyer. Release groups will direct capabilities into Ultimate/Gold which serve the organizational needs of a complex enterprise operating a large GitLab instance. We'll focus on features which will help drive compliance into the continuous delivery workflow and shift security left into the development pipelines. Roadmap features targeted for this tier include:

- [Compliance in Release](https://gitlab.com/groups/gitlab-org/-/epics/2379)
- [Release Runbooks](https://gitlab.com/groups/gitlab-org/-/epics/2662)
- [GitLab Provided Vaults](https://gitlab.com/groups/gitlab-org/-/epics/2876)
- [Trigger Vault Integration Suggestion from Secrets Detection](https://gitlab.com/gitlab-org/gitlab/-/issues/216276)

- [Compliance in Release](https://gitlab.com/groups/gitlab-org/-/epics/2379)
- [Release Runbooks](https://gitlab.com/groups/gitlab-org/-/epics/2662)


